@import '../../../styles';

#intro {
  overflow: hidden;
  @extend %container-full;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background: $blue;
  color: #fff;

  span {
    display: block;
    @extend %font-body;
    @extend %font-medium;
    letter-spacing: normal;
  }
}

#we-can-help-you {
  overflow: hidden;
  @extend %padding;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $black;
  color: $grey;

  h2 {
    @extend %font-extralarge;
    color: #fff;
  }
}
