@import '../../../styles';

#intro {
  overflow: hidden;
  @extend %container-full;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background: $blue;
  color: #fff;

  span {
    display: block;
    @extend %font-body;
    @extend %font-medium;
    letter-spacing: normal;
  }
}

#help {
  overflow: hidden;
  @extend %padding;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $black;
  color: $grey;

  h2 {
    @extend %font-extralarge;
    color: #fff;
  }
}

#services {
  overflow: hidden;
  @extend %container-full;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $grey-light;

  .text {
    text-align: center;
  }

  #services-list {
    display: flex;
    flex-wrap: wrap;

    .service {
      overflow: hidden;
      @include width($xs: 12, $sm: 6, $md: 6, $lg: 4) margin: ($gutter / 2) 0;
      background: #fff;
      background-clip: content-box;

      .service-info {
        margin: 1em;
      }
    }
  }
}
