@import '../../../styles';

h1,
h2 {
  @extend %font-display;
  margin-bottom: 0;
}

#intro {
  overflow: hidden;
  @extend %container-full;
  padding-top: 7vh;
  padding-bottom: 7vh;
  background: $blue;
  color: #fff;

  span {
    display: block;
    @extend %font-body;
    @extend %font-medium;
    @include xl {
      font-size: 3vw;
    }
    letter-spacing: normal;
  }
}

#help {
  overflow: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
  @extend %padding;
  @extend %font-medium;
  line-height: 1.3;
  background: $black;
  color: $grey;

  #help-container {
    max-width: $max-width;
  }

  h2 {
    margin: 0.25em 0;
    color: #fff;
  }
}

#services {
  overflow: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $grey-light;

  .text {
    text-align: center;
    margin: 0 auto;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }

  #services-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;
    @extend %padding;

    .service {
      overflow: hidden;
      position: relative;
      @include width($xs: 12, $sm: 6, $md: 6, $lg: 4);
      margin: ($gutter / 2) 0;
      background: #fff;
      background-clip: content-box;
      opacity: 1;
      transition: transform 200ms ease;

      &:hover,
      &:active {
        transform: scale(0.99);
      }

      image-component {
        overflow: hidden;
        max-height: 25vh;
      }

      .service-info {
        margin: 1em;
        margin-bottom: 3em;
        @extend %font-body;

        h3 {
          margin: 0.5em 0;
        }
      }

      .service-more {
        position: absolute;
        bottom: 1em;
        left: 1em;
        height: 1.5em;
        margin: 0;
      }
    }
  }
}

#clients {
  padding: 5vh 0;
  background: #fff;

  .text {
    text-align: center;
    margin: 0 auto;
  }

  #client-list {
    overflow: hidden;
    position: relative;
    @extend %container;
    max-height: 80vh;
    @extend %font-small;
    line-height: 1.4;

    @include sm {
      max-height: 100vh;
    }

    @include md {
      max-height: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -5vh;
      background: linear-gradient(rgba(255, 255, 255, 0) 65%, #fff 95%);
    }

    .client {
      display: inline-block;
      margin: 0;
      @extend %font-bold;

      &::before {
        display: none;
        content: '';
      }
    }

    .client-list {
      display: inline;
      @extend %font-body;

      .client-name {
        display: inline-block;
        margin: 0 0.2em;

        &:nth-of-type(2n) {
          color: $blue;
        }

        &::before {
          display: none;
          content: '';
        }
      }
    }
  }
}
