@import '../../../styles';

:host {
  display: block;
  overflow: hidden;
  text-align: center;
  background: $blue;
  color: #fff;
}

#intro {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

  #intro-info {
    h1 {
      margin: 0;
    }

    .text {
      @extend %font-large;

      p {
        margin-top: 0;
      }

      a {
        color: inherit;
      }

      .button {
        font-family: inherit;
        font-size: inherit;
        margin: 1em 0;
        padding: 0.5em;
        background: none;
        color: #fff;
        border: 0.1em solid #fff;
        opacity: 1;

        &:hover,
        &:active {
          background: #fff;
          color: $blue;
        }
      }
    }
  }
}

#contact-image {
  position: relative;
  height: 80vh;
}
