@import '../../../sass/mixins';

:host {
  display: block;
  overflow: hidden;
  text-align: center;
  background: $blue;
  color: #fff;
}

#page-intro {
  p,
  a {
    color: #fff;
  }
}

#contact {
  @extend %container-full;
  margin: 5vh auto;
}

#contact-image {
  position: relative;
  height: 80vh;
}
