@import '../../../../styles';

.slide {
  justify-content: center;

  @include md {
    justify-content: flex-start;
  }

  image {
    ::ng-deep img {
      object-position: top center;

      @include md {
        object-position: center center;
      }
    }
  }
}

a {
  position: absolute;
  align-self: top;
  margin: 0.5em 0;
  @extend %font-heading;
  @extend %font-display;
  z-index: 3;

  @include md {
    align-self: center;
    margin: 0 1em;
  }
}
