@import '../../../../styles';

.slide-info {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  @extend %padding;
  white-space: normal;
}

.info-meta {
  align-self: center;
  text-align: center;
  z-index: 3;

  a {
    display: block;
    @extend %font-heading;
    @extend %font-display;
    padding: 0;
    color: inherit;
  }

  span {
    @extend %font-medium;
  }
}

.info-more {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  z-index: 3;
}
