@import '../../../../styles';

.slide {
  justify-content: center;

  @include md {
    justify-content: flex-start;
  }
}

.black {
  color: #000;
}
.white {
  color: #fff;
}

.slide-info {
  position: absolute;
  align-self: top;
  margin: 1em 0;
  text-align: center;
  z-index: 3;

  @include md {
    align-self: center;
    text-align: left;
    margin: 0 1em;
  }

  a {
    display: block;
    @extend %font-heading;
    @extend %font-display;
    padding: 0;
  }

  span {
    @extend %font-medium;
  }
}

.button {
  position: absolute;
  z-index: 3;
  bottom: 0.5em;
  left: 1em;

  .black & {
    background: #000;
    color: #fff;

    &:hover,
    &:active {
      background: #fff;
      color: #000;
    }
  }

  .white & {
    background: #fff;
    color: #000;

    &:hover,
    &:active {
      background: #000;
      color: #fff;
    }
  }
}
