@import '../../../../styles';

:host {
  overflow: hidden;
  display: block;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
  height: 70vh;
  white-space: nowrap;
  cursor: ew-resize;
  -webkit-overflow-scroll: touch;
}

image {
  display: inline-block;
  height: 70vh;
  margin: 0 0.5em;
}

#swipe {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}
