@import '../../../../styles';

:host {
  display: block;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  width: auto;
  margin: 0 -0.5em;
  white-space: nowrap;
  cursor: ew-resize;
  -webkit-overflow-scroll: touch;

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $grey;
  }

  image-component {
    display: inline-block;
    height: 70vh;
    margin: 0 0.5em;
  }
}
