@import '../../../styles';

:host {
  display: block;
  overflow: hidden;
  background: $black;
  text-align: center;
  color: #fff;
}

#intro-image {
  position: relative;
  margin: 10vh 0;

  image-component {
    height: 60vh;
  }
}

#team {
  margin: 5vh auto;
  @extend %padding;

  .text {
    max-width: $max-width;
    margin: 0 auto;
    @extend %font-small;
    color: $grey;
    line-height: 1.3;
  }

  #people {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    text-align: left;

    .person {
      @include width($xs: 6, $sm: 4, $md: 3, $xl: 2);
      margin: ($gutter / 2) 0;

      &:last-child {
        display: block;
        background: $blue;
        color: inherit;

        .person-info {
          position: relative;
        }

        h4 {
          @extend %font-large;
        }

        .button {
          color: $blue;
        }
      }

      .person-container {
        position: relative;
      }

      .person-info {
        position: absolute;
        top: 0;
        padding: 0.5em;

        h4 {
          line-height: 1;
          margin: 0;
        }
      }

      .button {
        margin: 0.25em 0;
      }
    }
  }

  #join {
    @extend %font-large;
    text-align: left;

    h3 {
      @extend %font-extralarge;
      margin: 0;
    }
  }
}
