@import 'sass/font', 'sass/reset', 'sass/grid';

$blue: #0591d2;
$blue-dark: #054a79;
$grey: #828282;

@font-face {
  font-family: 'Montserrat Regular';
  @include font-src('/assets/fonts/montserrat-regular', ('ttf', 'woff', 'woff2'));
}

@font-face {
  font-family: 'League Gothic Regular';
  @include font-src('/assets/fonts/leaguegothic-regular', ('ttf', 'eot', 'svg', 'woff'));
}

%font-heading {
  font-family: 'League Gothic Regular', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
}

%font-body {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: normal;
}

body {
  @extend %font-body;
  @extend %font-normal;
}

%font-normal {
  @include font-size(1rem, 1.05rem, 1.1rem);
  line-height: 1.4;
}

%font-small {
  @include font-size(1.05rem, 1.15rem, 1.25rem, 1.3rem);
  line-height: 1;
}

%font-medium {
  @include font-size(1.05rem, 1.25rem, 1.35rem, 1.45rem);
  line-height: 1;
}

%font-large {
  @include font-size(1.2rem, 1.5rem, 1.6rem, 1.85rem);
  line-height: 1.1;
}

%font-extralarge {
  @include font-size(1.5rem, 2.2rem, 2.8rem, 3rem);
  line-height: 1.1;
}

%font-display {
  @include font-size(1.7rem, 2.4rem, 3rem, 3.2rem, 3.5rem);
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  @extend %font-heading;
}

h4 {
  @extend %font-medium;
}

.logo {
  width: 125px;
  @include md {
    width: 135px;
  }
  @include lg {
    width: 150px;
  }
}
