@import 'sass/font', 'sass/reset', 'sass/grid';

$blue: #0591d2;
$blue-dark: #054a79;
$grey: #828282;
$grey-light: #dedfde;
$black: #1a1919;

@font-face {
  font-family: 'Montserrat Regular';
  @include font-src('/assets/fonts/montserrat-regular', ('ttf', 'woff', 'woff2'));
}

@font-face {
  font-family: 'Montserrat Medium';
  @include font-src('/assets/fonts/montserrat-medium', ('ttf', 'woff', 'woff2'));
}

@font-face {
  font-family: 'League Gothic Regular';
  @include font-src('/assets/fonts/leaguegothic-regular', ('ttf', 'eot', 'svg', 'woff'));
}

%font-heading {
  font-family: 'League Gothic Regular', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
}

%font-body {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: normal;
}

%font-bold {
  font-family: 'Montserrat Medium', sans-serif;
  font-weight: normal;
}

body {
  @extend %font-body;
  @extend %font-normal;
}

%font-normal {
  @include font-size(1rem, 1.05rem, 1.1rem);
  line-height: 1.4;
}

%font-small {
  @include font-size(1.1rem, 1.2rem, 1.4rem, 1.6rem);
  line-height: 1;
}

%font-medium {
  @include font-size(1.4rem, 1.6rem, 1.8rem, 1.95rem);
  line-height: 1;
}

%font-large {
  @include font-size(1.4rem, 2rem, 2.5rem, 3rem);
  line-height: 1.1;
}

%font-extralarge {
  @include font-size(2rem, 2.6rem, 3.2rem, 4rem, 5rem);
  line-height: 1.1;
}

%font-display {
  @include font-size(2.8rem, 3.6rem, 4.4rem, 5.5rem, 8vw);
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  @extend %font-heading;
}

h1 {
  @extend %font-display;
  margin-bottom: 0;
}

h2 {
  @extend %font-large;
}

h3 {
  @extend %font-medium;
  margin: 1em 0 0.5em;
}

h4 {
  @extend %font-medium;
}

h5 {
  @extend %font-bold;
}

li {
  list-style: disc;
  margin-left: 1em;
}

a {
  @extend %font-bold;
  opacity: 0.85;
  transition: opacity 150ms ease;

  &:hover,
  &:active {
    opacity: 1;
  }
}

button {
  opacity: 0.85;
  transition: opacity 150ms ease;

  &:hover,
  &:active {
    opacity: 1;
  }
}

b {
  @extend %font-bold;
}

.logo {
  width: 125px;
  @include md {
    width: 135px;
  }
  @include lg {
    width: 170px;
  }
  @include xl {
    width: 12vw;
  }
}

%text {
  overflow: hidden;
  max-width: 900px;
}

.text {
  @extend %text;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.button {
  display: inline-block;
  margin: 1em 0 0.5em;
  padding: 0.3em 0.5em;
  @extend %font-heading;
  line-height: 1;
  background: #fff;
  color: #000;

  &:hover,
  &:active {
    background: $black;
    color: #fff;
  }

  .black & {
    background: #000;
    color: #fff;

    &:hover,
    &:active {
      background: #fff;
      color: #000;
    }
  }
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

#page-intro {
  margin: 10vh 0;
  @extend %padding;
  @extend %font-medium;
  text-align: center;
  line-height: 1.4;

  #intro-container {
    max-width: $max-width;
    margin: 0 auto;
  }

  p {
    color: $grey;
  }
}
