@import 'sass/font', 'sass/reset', 'sass/grid';

$blue: #0591d2;
$blue-dark: #054a79;
$grey: #828282;
$grey-light: #dedfde;
$black: #1a1919;

@font-face {
  font-family: 'Montserrat Regular';
  @include font-src('/assets/fonts/montserrat-regular', ('ttf', 'woff', 'woff2'));
}

@font-face {
  font-family: 'League Gothic Regular';
  @include font-src('/assets/fonts/leaguegothic-regular', ('ttf', 'eot', 'svg', 'woff'));
}

%font-heading {
  font-family: 'League Gothic Regular', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
}

%font-body {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: normal;
}

body {
  @extend %font-body;
  @extend %font-normal;
}

%font-normal {
  @include font-size(1rem, 1.05rem, 1.1rem);
  line-height: 1.4;
}

%font-small {
  @include font-size(1.05rem, 1.25rem, 1.35rem, 1.45rem);
  line-height: 1;
}

%font-medium {
  @include font-size(1.4rem, 1.6rem, 1.8rem, 2rem);
  line-height: 1;
}

%font-large {
  @include font-size(1.4rem, 2rem, 2.5rem, 3rem);
  line-height: 1.1;
}

%font-extralarge {
  @include font-size(2rem, 2.6rem, 3.2rem, 4rem, 5rem);
  line-height: 1.1;
}

%font-display {
  @include font-size(2.8rem, 3.6rem, 4.4rem, 5.5rem, 6.5rem);
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  @extend %font-heading;
}

h1 {
  @extend %font-display;
}

h2 {
  @extend %font-medium;
}

h3 {
  @extend %font-medium;
}

h4 {
  @extend %font-medium;
}

.logo {
  width: 125px;
  @include md {
    width: 135px;
  }
  @include lg {
    width: 150px;
  }
}

.text {
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.button {
  display: inline-block;
  margin: 1em 0 0.5em;
  padding: 0.3em 0.5em;
  @extend %font-heading;
  line-height: 1;
  background: #fff;
  color: #000;

  &:hover,
  &:active {
    background: $black;
    color: #fff;
  }

  .black & {
    background: #000;
    color: #fff;

    &:hover,
    &:active {
      background: #fff;
      color: #000;
    }
  }
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

#page-intro {
  margin: 10vh 0;
  @extend %font-small;
  text-align: center;
  line-height: 1.4;

  .text {
    color: $grey;
  }
}
