@import '../../../sass/mixins';

:host {
  display: block;
  overflow: hidden;
  background: #fff;
}

#cta {
  @extend %container-full;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $blue;
  color: #fff;

  p {
    margin: 0.25rem;

    &:first-of-type {
      @extend %font-heading;
      @extend %font-display;
    }

    &:last-of-type {
      @extend %font-medium;
    }
  }
}

#footer {
  @extend %container-full;
  margin: 5vh 0;

  h4 {
    @extend %font-large;
  }

  #footer-locations {
    overflow: hidden;
    display: block;
    margin: 0 -2%;
    color: $grey;

    @include sm {
      display: flex;
    }

    .location {
      margin: 10px 0;
      padding: 0 2%;

      address {
        margin: 20px 0;
        line-height: 1.6;

        @include sm {
          margin: 20px 0 0;
        }
      }
    }
  }

  #footer-info {
    display: block;

    @include sm {
      display: flex;
      justify-content: space-between;
    }

    small a {
      display: inline-block;
      vertical-align: bottom;
      color: $grey-dark;
    }

    #info-social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-basis: 100%;
      margin: 0 -0.75em;

      @include sm {
        justify-content: flex-end;
      }

      .social-link {
        display: inline-block;
        flex-basis: 100%;
        max-width: 3em;
        padding: 0 0.75em;
      }

      a {
        display: inline-block;
        opacity: 0.5;

        &:hover,
        &:active {
          opacity: 1;
        }
      }

      img {
        height: 1em;
        width: auto;
      }
    }
  }
}
