@import '../../../styles';

#footer-cta {
  @extend %container-full;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $blue;
  color: #fff;

  p {
    margin: 0.25rem;

    &:first-of-type {
      @extend %font-heading;
      @extend %font-display;
    }

    &:last-of-type {
      @extend %font-medium;
    }
  }
}

#footer-info {
  @extend %container-full;
  margin: 5vh 0;

  #info {
    display: block;

    @include sm {
      display: flex;
      justify-content: space-between;
      margin: 0 -($gutter / 2);
    }
  }

  #info-locations {
    display: block;

    @include sm {
      display: flex;
      justify-content: space-between;
      margin: 0 -2em;
      padding: 0 ($gutter / 2);
    }

    .location {
      margin: 10px 0;
      color: $grey;

      @include sm {
        padding: 0 2em;
      }

      h5 {
        color: #000;
      }

      a {
        @extend %font-bold;
        transition: color 150ms ease;

        &:hover,
        &:active {
          color: #000;
        }
      }

      address {
        margin: 20px 0;

        @include sm {
          margin: 20px 0 0;
        }
      }
    }
  }

  #info-social {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px 0;

    @include sm {
      padding: 0 ($gutter / 2);
    }

    a {
      @include sm {
        margin: 0.5em;
      }

      &:hover img,
      &:active img {
        opacity: 1;
      }
    }

    img {
      height: 15px;
      width: auto;
      opacity: 0.5;
      transition: opacity 150ms ease;
    }
  }
}
