@import '../../../styles';

#cta {
  @extend %container-full;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: $blue;
  color: #fff;

  p {
    margin: 0.25rem;

    &:first-of-type {
      @extend %font-heading;
      @extend %font-display;
    }

    &:last-of-type {
      @extend %font-medium;
    }
  }
}

#footer {
  @extend %container-full;
  margin: 5vh 0;

  h4 {
    @extend %font-large;
  }

  #footer-info {
    display: block;
    @extend %container-col;
    color: $grey;

    @include sm {
      display: flex;
      justify-content: space-between;
      margin: 0 -($gutter / 2);
    }

    #locations {
      display: block;
      padding: 0 ($gutter / 2);

      @include sm {
        display: flex;
        justify-content: space-between;
        margin: 0 -2em;
      }

      .location {
        margin: 10px 0;

        @include sm {
          padding: 0 2em;
        }

        address {
          margin: 20px 0;
          line-height: 1.6;

          @include sm {
            margin: 20px 0 0;
          }
        }
      }
    }

    #legal {
      margin: 1em 0;
    }

    #info-social {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 10px 0;
      padding: 0 ($gutter / 2);

      a {
        opacity: 0.5;
        @include sm {
          margin: 0.75em;
        }

        &:hover,
        &:active {
          opacity: 1;
        }
      }

      img {
        height: 1em;
        width: auto;
      }
    }
  }
}
