@import '../../../../styles';

:host {
  display: block;
  @extend %padding;
  @extend %text;
  margin: 5vh auto 10vh;
  text-align: center;
}

:host([intro]) {
  padding: 0;

  p:first-of-type {
    margin-top: 0;
    @extend %font-medium;
    line-height: 1.4;
  }
}
