@import '../../../../sass/mixins';

:host {
  display: block;
  @extend %padding;
  @extend %text;
  margin: 10vh auto 7vh;
  text-align: center;

  h2 + & {
    margin: 1em auto 7vh;
  }
}

:host([intro]) {
  padding: 0;

  p:first-of-type {
    margin-top: 0;
    @extend %font-medium;
    line-height: 1.4;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  li {
    flex-grow: 1;
    flex-basis: 100%;

    @include sm {
      flex-basis: 50%;
    }
  }
}
