@import '../../../styles';

:host {
  display: block;
  overflow: hidden;
  background: $black;
  color: #fff;
}

#case-studies {
  margin-bottom: 5vh;
  @extend %padding;
}

.case-study {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin: 1em 0;

  @include sm {
    height: 50vh;
  }

  @include md {
    height: 60vh;
  }

  h2 {
    position: absolute;
    @extend %font-extralarge;
  }

  .button {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
  }
}
