@import '../../../sass/mixins';

:host {
  display: block;
  overflow: hidden;
  background: $black;
}

h1 {
  color: #fff;
}

#case-studies {
  margin-bottom: 5vh;
  @extend %padding;
}

.case-study {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
  margin: 1em 0;
  opacity: 1;

  &:hover,
  &:active {
    transition: transform 200ms ease;
    transform: scale(0.99);
  }

  @include sm {
    height: 50vh;
  }

  @include md {
    height: 60vh;
  }

  h2 {
    position: relative;
    @extend %font-extralarge;
    z-index: 1;
  }

  image-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .button {
    position: absolute;
    right: 1em;
    bottom: 0.5em;
    z-index: 1;
  }
}
