@import '../../../styles';

:host {
  display: block;
  overflow: hidden;
}

#intro {
  padding-top: 10vh;
  padding-bottom: 10vh;
  @extend %padding;
  @extend %font-medium;
  line-height: 1.4;
  background: $black;
  color: #fff;

  .text {
    padding: 0;
  }
}

#hiring {
  display: block;
  background: #fff;

  @include sm {
    display: flex;
  }

  #hiring-image,
  #hiring-text {
    @include width($xs: 12, $sm: 6, $padding: 0);
  }

  #hiring-text {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;

    @include sm {
      padding: 5%;
    }

    h2 {
      @extend %font-extralarge;
      margin-bottom: 0;
    }

    .text {
      padding: 0;
    }
  }
}

#careers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: $black;
  color: #fff;

  .career {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    z-index: 1;

    &:nth-of-type(odd) {
      background: rgba($blue-dark, 0.7);
    }

    @include sm {
      width: 50%;

      &:nth-of-type(odd) {
        background: none;
      }

      &:nth-of-type(4n - 1) {
        background: rgba($blue-dark, 0.7);
      }
      &:nth-of-type(4n - 2) {
        background: rgba($blue-dark, 0.7);
      }
    }

    .career-info {
      position: relative;
      margin: 8vh 5vw;
      z-index: 1;

      h3 {
        @extend %font-extralarge;
        margin: 0;
      }
    }
  }

  image-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
