@import '../../../styles';

:host {
  display: block;
  overflow: hidden;
  background: $grey-light;
}

#intro {
  margin: 10vh 0;
  @extend %padding;
  @extend %font-medium;
  line-height: 1.4;

  .text {
    padding: 0;
  }
}

#hiring {
  @extend %padding;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: #fff;
  text-align: center;

  .text {
    padding: 0;
    margin: 0 auto;
  }
}

#careers {
  display: flex;
  flex-wrap: wrap;
  background: $black;
  color: #fff;

  .career {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;

    @include sm {
      width: 50%;
    }

    .career-info {
      position: relative;
      margin: 8vh 5vw;
      z-index: 1;

      h3 {
        @extend %font-extralarge;
        margin: 0;
      }
    }

    image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
