*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

img,
video,
svg {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
  padding: 0;
}

ul {
  margin: 1em 0;
}

li {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0.5em 0;
}

p {
  margin: 1em 0;
}

a {
  display: inline;
  overflow: hidden;
  color: inherit;
}

a,
button,
label {
  cursor: pointer;
  text-decoration: none;
  padding: 0.25em 0.1em;
}

address {
  font-style: normal;
}

small {
  font-size: 0.8em;
  line-height: 1.2;
  color: inherit;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-appearance: none;
}

button,
select {
  text-transform: none;
}

input[type='checkbox'] {
  display: none;
}
