@import '../../../styles';

:host {
  position: relative;
  @extend %container-full;
  background: $blue;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  @extend %font-heading;
  @extend %font-small;
  color: #fff;
}

#nav-logo {
  position: relative;
  z-index: 9;
  fill: #fff;
  transition: fill 150ms ease;

  &:hover,
  &:active {
    fill: $blue-dark;
  }
}

#nav-links {
  display: none;
  background: $blue;
  margin: 0 -0.5em;

  @include md {
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    white-space: nowrap;
    @include md {
      align-self: center;
      margin: 0 0.5em;
    }
    transition: color 150ms ease;

    &:hover,
    &:active {
      color: $blue-dark;
    }
  }
}

#nav-button {
  display: inline-block;
  position: relative;
  height: 25px;
  background: none;
  z-index: 9;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  @include md {
    display: none;
  }

  transition: background-color 150ms ease;

  &:hover,
  &:active {
    #button-inner {
      background: $blue-dark;
    }
  }
}

#button-container {
  display: block;
  position: relative;
  width: 20px;
  height: 100%;
}

#button-inner {
  display: block;
  top: 50%;
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background-color: #fff;

  &,
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    transition: transform 0.15s ease;
  }

  &::before {
    top: -7px;
    background: inherit;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }

  &::after {
    bottom: -7px;
    background: inherit;
    transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

nav.open {
  #nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @extend %padding;
    padding-top: 10vh;
    z-index: 8;

    .nav-link {
      @extend %font-display;
    }
  }

  #nav-button {
    display: inline-block;
  }

  #button-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
