@import '../../../styles';

$grey-light: #d7d8d6;
$grey-dark: #404040;

:host {
  display: block;
}

h2 {
  @extend %padding;
  @extend %text;
  margin: 7vh auto 0.5em;
  text-align: center;
}

section {
  overflow: hidden;
}

#intro {
  padding-top: 15vh;
  padding-bottom: 5vh;

  h1 {
    margin: 0;
  }

  #intro-info {
    display: block;
    @extend %padding;

    @include sm {
      display: flex;
      justify-content: space-between;
    }

    #info-text {
      margin: 20px 0;

      @include sm {
        margin-right: 5%;
      }

      text-block {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
      }
    }

    #info-overview {
      margin: 20px 0;

      @include sm {
        margin-left: 5%;
        padding-left: 1em;
        border-left: 1px solid $grey;
      }

      li {
        list-style: none;
        margin-left: 0;
      }

      span {
        @extend %font-heading;
        @extend %font-small;
      }
    }
  }
}

@for $i from 1 through 3 {
  :host(.layout-#{$i}) {
    section:nth-of-type(3n + #{$i + 2}) {
      background: #fff;
    }
    section:nth-of-type(3n + #{$i + 1}) {
      background: $grey-light;
    }
    section:nth-of-type(3n + #{$i}) {
      background: $grey-dark;
      color: #fff;
    }
  }
}
