@import '../../../styles';

:host {
  display: block;
  position: relative;
  overflow: hidden;
  height: 65vh;
}

.slide-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: none;

  &#left {
    left: 0;
    right: 50%;
  }

  &#right {
    right: 0;
    left: 50%;
  }
}

.slide {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;

  @include md {
    justify-content: flex-start;
  }

  image {
    position: absolute;
    width: 100%;
    height: 100%;

    ::ng-deep img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;

      @include md {
        object-position: center center;
      }
    }
  }
}

h3 {
  position: absolute;
  align-self: top;
  margin: 0.5em 0;
  z-index: 1;

  @include md {
    align-self: center;
    margin: 0 1em;
  }
}
